<?xml version="1.0" encoding="UTF-8" ?>
<web-app>
    <display-name>Tienda Alimentos Practicas</display-name>
    <context-param>
        <description>Ruta donde guardar las imagenes</description>
        <param-name>image-path</param-name>
        <param-value>C:\Users\josem\Proyectos\Programacion\apache-tomcat-9.0.89\webapps\products</param-value>
    </context-param>
</web-app>